<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Import custom.css-->
    <link type="text/css" rel="stylesheet" href="css/custom.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <meta charset="UTF-8">
    <link rel="icon" type="img/ico" href="res/fav.png">
    <title>Series</title>
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    
    <main>
    
        <div class="container">
            <div class="row">
                <!-- Navigation -->
                <div class="col s12">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="index.html" class="brand-logo center"><img src="res/logo.png" alt="Tatulum"></a>
                            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                            <ul id="nav-mobile" class="left hide-on-med-and-down">
                                <li><a href="series.html"><i class="material-icons left">search</i>Find Series</a></li>
                                <li><a href="watched.html"><i class="material-icons left">visibility</i>Watched Series</a></li>
                                <li><a href="team.html"><i class="material-icons left">group</i>Team</a></li>
                            </ul>
                            <ul class="side-nav" id="mobile-demo">
                                <li><a href="series.html">Find Series</a></li>
                                <li><a href="watched.html">Watched Series</a></li>
                                <li><a href="team.html">Team</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row tag-search">
                <div class="col s12">
                    <div class="card-panel beige">
                        <div id="tag-search" class="chips chips-placeholder"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card hoverable horizontal blue-grey darken-1">
                        <div class="card-image">
                            <img src="res/one-piece.jpg">
                            <span class="card-title">One Piece</span>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content white-text">
                                <span class="card-title">One Piece</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                   I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="spec.html">Episode list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    
    <div class="container">
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright Tatulum Hack Team
                    <a class="grey-text text-lighten-4 right" href="https://localhackday.mlh.io/" target="_blank">MLH Local Hack Day</a>
                </div>
            </div>
        </footer>
    </div>
    
</body>
</html>