/**
 ########################### Generel Settings ########################### */
body {
    display:            flex;
    min-height:         100vh;
    flex-direction:     column;
    background-color:   #fcfcfc;
}

main {
    flex:               1 0 auto;
}

footer.page-footer {
    padding-top:        0;
}

nav, .btn, .card, .page-footer {
    background-color:   purple !important;
}

nav img {
    width:              50%;
    margin-top:         10px;
}

.beige {
    background-color:   #f5f2f0;
}

.start-bg {
    background-image:   url('../images/startpage.jpg');
    background-repeat:  no-repeat;
    background-size:    cover;
}

.col-margin-fix {
    margin-left:        -40px !important;
}

/**
 ########################### Series Settings ########################### */

/* Serie Search with Tags */
.tag-search {
    margin-top:         -20px;
}

.tag-search i {
    position:           relative;
    top:                10px;
    float:              right;
}

.chip i {
    top: 0;
}

/* Serie Cards */
.card .card-image .card-title {
    padding: 13px;
    background-color: rgba(156, 39, 176, 0.8);
    width: 100%;
    text-align: center;
}

.card.horizontal .card-image {
    max-width:          30%;
}